body {
    padding-top: 100px;
    background-color: rgb(254, 254, 254);
    background-size: cover;
}

.main-log {
    text-align:center;
}

.log-imag {
    max-width: 95vw;
}

.info-template {
    text-align:center;
    margin: 10px 50px;
    padding: 5px 15px;
    background-color: rgba(255, 232, 198, 0.718);
}

.information {
    padding: 5em;
    text-align: center;
    font-size: 20em;
}

.info-template li {
    list-style: none;
}

.starlight-template {
    text-align:center;
    margin: auto 50px 0px;
    padding: 5px 15px;
    background-color: rgb(209, 253, 249,0.7);
}
.starlight-template li {
    list-style: none;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.861);
    font-family: serif;
    font-size: 5px;
    position: fixed;
    bottom: 0; /*下に固定*/
}

/* #nav {
    text-align: center;
    overflow: hidden;
    list-style: none;
    width: 100%;
    margin: 10px ;
}
#nav li {
    display: inline-block;

    text-align: center;
    line-height: 50px;
} */